name: Deploy to IIS
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build application
        run: dotnet build --configuration Release --no-restore

      - name: Publish application
        run: dotnet publish -c Release -o published

      - name: Deploy to IIS
        shell: powershell
        run: |
          $source = "$(System.DefaultWorkingDirectory)/published/*"
          $destination = "C:\inetpub\wwwroot\online-ticket-sales-bff"
          Copy-Item -Path $source -Destination $destination -Recurse -Force